<div class="container">
<h1>New City</h1>

<%= render 'form', city: @city %>
    
   <div class="form-group">
        <label class="col-md-2 control-label"></label>
      <div class="col-sm-1  inputGroupContainer">
     <%= link_to 'Back', cities_path,:class=>"btn btn-default"%>
        </div>
    </div>
     </div>
